{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load json %}

{% block title %}Daftar counter{% endblock %}

{% block bgimage %}
  <div id="bg-container">
    <h1 id="bg-title">
      Lokasi Counter Terdekat
    </h1>
    <img src="{% static 'images/counter-bg.jpg' %}" id="bg">
  </div>
{% endblock bgimage %}

{% block content %}
	<div ng-controller="CountersCtrl" class="margintop" ng-cloak>
  Urutkan counter berdasarkan lokasi anda
  <div class="btn-group" ng-init="locations={{locations | locationsjson}}">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      lokasi
    </button>
    <div class="dropdown-menu">
      <button class="dropdown-item" ng-repeat="location in locations" type="button" ng-click="selectDropdownItem(location)">{$location.name$}</button>
    </div>
  </div>
  <div class="col-sm-12 margintop" ng-init="counters={{ counters | countersjson }}">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Nama</th>
        <th>Alamat</th>
        <th>Kota</th>
        <th>distance</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="counter in counters">
          <td>{$ counter.name $}</td>
          <td>{$ counter.address $}</td>
          <td>{$ counter.city $}</td>
          <td>{$ counter.distance $} KM</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}