{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
  Tidak punya ATM tapi ingin belanja online? gausah pusing sekarang ada ...... kunjungi
  counter terdekat yang ada di seluruh indonesia untuk top-up saldo kamu dan belanja di
  toko manapun yang menggunakan ..... <br/><br/>
  Ingin punya penghasilan tanpa usaha? daftarlah menjadi counter, anda hanya perlu
  diam di rumah namun pelanggan tetap berdatangan dengan sistem pencarian counter kami
{% endblock %}