{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Daftar toko{% endblock %}

{% block bgimage %}
  <div id="bg-container">
    <h1 id="bg-title">
      Daftar Toko Yang Menggunakan ......
    </h1>
    <img src="{% static 'images/store-bg.jpg' %}" id="bg">
  </div>
{% endblock bgimage %}


{% block content %}
  <div class="grid" style="margin-top: 20px">
    {% for store in store_list %}
      <figure class="effect-steve">
        <img src="{% static 'images/store-placeholder.jpg' %}" alt=""/>
        <figcaption>
          <h2>{{ store.name }}</h2>
          <p>{{ store.short_description }}</p>
          <a href="{{ store.domain }}">View more</a>
        </figcaption>
      </figure>

      {% if forloop.last %}
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}