{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
  {% load humanize %}
  <div class="container">

    <div class="row">
      <div class="col-sm-12">

        <h2>{{ object.username }}</h2>
        {% if object.name %}
          <p>{{ object.name }}</p>
        {% endif %}
      </div>
    </div>

    {% if object == request.user %}
      <!-- Action buttons -->
      <div class="row">

        <div class="col-sm-12 ">
          <a class="btn btn-primary" href="{% url 'users:update' %}">My Info</a>
          <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
        </div>

        <div class="col-sm-12">
          Saldo : IDR {{ object.balance|intcomma }}
        </div>

        <div class="col-sm-12">
          <h4>Riwayat Top Up</h4>
          <table class="table table-inverse">
            <thead>
              <tr>
                <th>#</th>
                <th>Tanggal</th>
                <th>Counter</th>
                <th>Jumlah</th>
              </tr>
            </thead>
            <tbody>
              {% for topup in object.customer_top_ups.all %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ topup.date }}</td>
                  <td>{{ topup.counter }}</td>
                  <td>IDR {{ topup.amount|intcomma }}</td>
                </tr>
                {% if forloop.last %}
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="col-sm-12">
          <h4>Riwayat Transaksi</h4>
          <table class="table table-inverse">
            <thead>
              <tr>
                <th>#</th>
                <th>Tanggal</th>
                <th>Kode transaksi</th>
                <th>Toko</th>
                <th>Jumlah</th>
              </tr>
            </thead>
            <tbody>
              {% for transaction in object.transactions.all %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ transaction.date }}</td>
                  <td>{{ transaction.transaction_code }}</td>
                  <td>{{ transaction.store }}</td>
                  <td>IDR {{ transaction.amount|intcomma }}</td>
                </tr>
                {% if forloop.last %}
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>

      </div>
      <!-- End Action buttons -->
    {% endif %}


  </div>
{% endblock content %}

